@model MvcSASE.Models.SASE

@{
    ViewBag.Title = "Index";
}

<h2>Azure Storage Explorer</h2>
<hr />
<h4>Blobs Containers:</h4>
<form>    
    @for (int i = 0; i < Model.service.SASEBlobContainerNames().Count(); i++)
    {
        <p />
    <a href="/Blob/Index?containername=@Model.service.SASEBlobContainerNames()[i]&saseid=@Model.passID&blobid=-1">@Model.service.SASEBlobContainerNames()[i]</a>
        @(" (");
        @Model.service.SASEBlobItems(Model.service.SASEBlobContainerNames().ElementAt(i)).Count();
        @(")  ");
    }
</form>
<p />
@using (Html.BeginForm("CreateContainer",
                        "SASEExplorer",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="container">Create new container: </label>
    <input type="text" name="container" id="container" /><br><br>
    <input type="hidden" name="saseid" id="saseid" value="@Model.passID" />
    <input type="submit" value="Create Container" />
}
<hr>
<h4>Queues: </h4>
<form>
    @for (int i = 0; i < Model.service.SASEQueueCount(); i++)
    {
        <p />
        <a href="/SASEExplorer/Queue?queuename=@Model.service.SASEQueueNames()[i]&saseid=@Model.passID">@Model.service.SASEQueueNames()[i]</a>
            @(" (");
            @Model.service.SASEQueueMessageCount(Model.service.SASEQueueNames().ElementAt(i));
            @(")  ");
    }
</form>
<p />
@using (Html.BeginForm("CreateQueue",
                        "SASEExplorer",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="queue">Create new queue: </label>
    <input type="text" name="queue" id="queue" /><br><br>
    <input type="hidden" name="saseid" id="saseid" value="@Model.passID" />
    <input type="submit" value="Create Queue" />
}
<hr />
<h4>Worker Role Demo Instructions: </h4>
<p>
    1. Create a new queue named: <b>sase-youtube-in</b><br />
    2. Open the queue and enqueue a new message with a youtube video url<br />
    3. If the worker role is currently online you will receive an output message regarding the completion of your request in the queue named: <b>sase-youtube-out</b><br />
    4. If the completion status states "--extraction completed", you will receive a mp4 file of the youtube video in the blob container: <b>sase-youtube-videos</b><br /><br />
    Notes:  If the worker is currently online, the request will take two minutes at the most to process.  Otherwise the worker role will attend to the request when it is next activated.<br />
    (The output queue and container will be created in your storage account if they do not already exist.)
</p>
<hr />
<a href="/SASEs/Index">Back to Accounts</a>
