@model MvcSASE.Models.SASE

@{
    ViewBag.Title = "Index";
}

<h2>Azure Storage Explorer</h2>
<p />
<h4>Blobs Containers:</h4>
@Html.ActionLink("Create", "CreateContainer", Model.passID)
@(" a new Container.")
<hr>
<form>    
    @for (int i = 0; i < Model.service.SASEBlobContainerNames().Count(); i++)
    {
        <p />
    <a href="/Blob/Index?containername=@Model.service.SASEBlobContainerNames()[i]&saseid=@Model.passID&blobid=-1">@Model.service.SASEBlobContainerNames()[i]</a>
        @(" (");
        @Model.service.SASEBlobItems(Model.service.SASEBlobContainerNames().ElementAt(i)).Count();
        @(")  ");
    }
</form>
<hr>
<h4>Queues: </h4>
@Html.ActionLink("Create", "CreateQueue")
@(" a new Queue.")
<hr>
<form>
    @for (int i = 0; i < Model.service.SASEQueueCount(); i++)
    {
        <p />
        @Html.ActionLink(Model.service.SASEQueueNames().ElementAt(i), "Queue", "SASEExplorer", new { queueName = Model.service.SASEQueueNames()[i] })
        @(" (");
        @Model.service.SASEQueueMessageCount(Model.service.SASEQueueNames().ElementAt(i));
        @(")  ");
    }
</form>
