@model MvcSASE.Models.SASE

@{
    ViewBag.Title = "Index";
}

<h2>Azure Storage Explorer</h2>
<hr />
<h4>Blobs Containers:</h4>
<form>    
    @for (int i = 0; i < Model.service.BlobContainerNames().Count(); i++)
    {
        <p />
    <a href="/Blob/Index?containername=@Model.service.BlobContainerNames().ElementAt(i)&saseid=@Model.passID&blobid=-1">@Model.service.BlobContainerNames().ElementAt(i)</a>
        @(" (");
        @Model.service.BlobItems(Model.service.BlobContainerNames().ElementAt(i)).Count();
        @(")  ");
    }
</form>
<p />
@using (Html.BeginForm("CreateContainer",
                        "SASEExplorer",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="container">Create new container: </label>
    <input type="text" name="container" id="container" /><br><br>
    <input type="hidden" name="saseid" id="saseid" value="@Model.passID" />
    <input type="submit" value="Create Container" />
}
<hr>
<h4>Queues: </h4>
<form>
    @for (int i = 0; i < Model.service.QueueCount(); i++)
    {
        <p />
        <a href="/SASEExplorer/Queue?queuename=@Model.service.QueueNames().ElementAt(i)&saseid=@Model.passID">@Model.service.QueueNames().ElementAt(i)</a>
            @(" (");
            @Model.service.QueueMessageCount(Model.service.QueueNames().ElementAt(i));
            @(")  ");
    }
</form>
<p />
@using (Html.BeginForm("CreateQueue",
                        "SASEExplorer",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="queue">Create new queue: </label>
    <input type="text" name="queue" id="queue" /><br><br>
    <input type="hidden" name="saseid" id="saseid" value="@Model.passID" />
    <input type="submit" value="Create Queue" />
}
<hr />
<p>
    <a href="/SASEExplorer/WorkerDemo/@Model.passID">Azure Worker Role Demonstration</a><br />
</p>
<a href="/SASEs/Index">Back to Accounts</a>
