@model IEnumerable<MvcSASE.Models.SASE>

@{
    ViewBag.Title = "Index";
}

<h2>Storage Account Manager</h2>

<p />
@Html.ActionLink("Create New Storage Accont", "Create")
@foreach (var item in Model)
{
    <hr />
    <p>
    Storage Account Name: <strong>@item.storageAccount</strong> | @Html.ActionLink(" Storage Explore", "Index", "SASEExplorer", new { id = item.ID }, null)
    </p>
    <p>
    @("Key: " + item.storageKey)</p>
    <p>
    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
    </p>
}

