@model SASELibrary.AccountService

@{
    ViewBag.Title = "Index";
}

<h2>Blob Container: @Model.containerName</h2>
<p />
<h4>Blobs Items:</h4>
<form>
    @for (int i = 0; i < Model.service.BlobItemNames(Model.containerName).Count(); i++)
    {
        <p>
            @Model.service.BlobItemNames(Model.containerName).ElementAt(i)
            - <a href="/Blob/Index?containername=@Model.containerName&itemname=@Model.service.BlobItemNames(Model.containerName).ElementAt(i)&saseid=@Model.passID&blobid=@i">
                Inspect</a> |
            <a href="/Blob/Download?containername=@Model.containerName&itemname=@Model.service.BlobItemNames(Model.containerName).ElementAt(i)&saseid=@Model.passID&blobid=@i">
                Download</a>
        </p>
        if (i == Model.blobID)
        {
            <p>
                Type: @Model.blobInfo.BlobType | 
                Length: @Model.blobInfo.Length | 
                Modified: @Model.blobInfo.LastModified | 
                URI: @Model.blobInfo.BlobLocation
            </p>
        }
    }
</form>
<hr />
@using (Html.BeginForm("Upload",
                        "Blob",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Blob Item:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="hidden" name="container" id="container" value="@Model.containerName" />
    <input type="hidden" name="saseid" id="saseid" value="@Model.passID" />
    <input type="submit" value="Upload File" />
}
<hr />
<a href="/SASEExplorer/Index/@Model.passID">Back to Explorer</a> 
